.c {
  width: 100%;
  height: 100vh;

  position: relative;
  z-index: 2;
  background: transparent;
}

#canv{
  position: relative;
    background-color: #d9ecb3;
}
#canv h1{
  width: 100%;
  position: absolute;
  top: 8%;
  left: 50%;
  transform:translate(-50%, 20%);
}
